In [175]:
import yfinance as yf
import pandas as pd


#loop through all indices
df_list = pd.read_html('https://finance.yahoo.com/world-indices/')
majorStockIdx = df_list[0]
majorStockIdx.head()

stock_list = []
for s in majorStockIdx.Symbol:
    #get the data for this ticker
    tickerData = yf.Ticker(s)
    #get the historical prices for this ticker
    tickerDf1 = tickerData.history(period='1d', start='2010-1-1', end='2020-1-25')

    tickerDf1['ticker'] = s
    stock_list.append(tickerDf1)
msi = pd.concat(stock_list, axis = 0)

region_idx= { 'US & Canada' : ['^GSPC', '^DJI', '^IXIC', '^RUT','^GSPTSE'],
  'Latin America' : ['^BVSP', '^MXX', '^IPSA'],
  'East Asia' : ['^N225', '^HSI', '000001.SS', '399001.SZ', '^TWII', '^KS11'],
  'ASEAN & Oceania' : ['^STI', '^JKSE', '^KLSE','^AXJO',  '^NZ50'],
  'South & West Asia' : ['^BSESN', '^TA125.TA'],
  'Europe' : ['^FTSE', '^GDAXI', '^FCHI', '^STOXX50E','^N100', '^BFX']
}
def getRegion(ticker):
    for k in region_idx.keys():
        if ticker in region_idx[k]:
            return k
msi['region']= msi.ticker.apply(lambda x: getRegion(x))

- ^CASE30: No data found for this date range, symbol may be delisted

In [176]:

tickerDf1

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
Date,,,,,,,,
2017-09-26 00:00:00+02:00,4008.949951,4012.500000,3911.449951,3916.979980,0,0,0,^JN0U.JO
2017-09-27 00:00:00+02:00,3915.199951,3926.850098,3877.590088,3885.090088,0,0,0,^JN0U.JO
2017-09-28 00:00:00+02:00,3856.570068,3896.889893,3839.110107,3879.229980,0,0,0,^JN0U.JO
2017-09-29 00:00:00+02:00,3893.760010,3952.479980,3884.939941,3930.870117,0,0,0,^JN0U.JO
2017-10-02 00:00:00+02:00,3914.199951,3938.600098,3907.280029,3907.280029,0,0,0,^JN0U.JO
...,...,...,...,...,...,...,...,...
2020-01-20 00:00:00+02:00,3923.830078,3933.620117,3889.239990,3899.600098,0,0,0,^JN0U.JO
2020-01-21 00:00:00+02:00,3887.169922,3889.679932,3809.669922,3848.719971,0,0,0,^JN0U.JO
2020-01-22 00:00:00+02:00,3860.850098,3888.550049,3848.429932,3882.530029,0,0,0,^JN0U.JO
2020-01-23 00:00:00+02:00,3881.260010,3881.260010,3789.699951,3793.979980,0,0,0,^JN0U.JO
2020-01-24 00:00:00+02:00,3803.250000,3853.010010,3803.250000,3816.750000,0,0,0,^JN0U.JO

In [177]:
del tickerDf1["Dividends"]
del tickerDf1["Stock Splits"]

In [178]:
tickerDf1["Tomorrow"] = tickerDf1["Close"].shift(-1)

In [179]:
tickerDf1["Target"] = (tickerDf1["Tomorrow"] > tickerDf1["Close"]).astype(int)
tickerDf1

,Open,High,Low,Close,Volume,ticker,Tomorrow,Target
Date,,,,,,,,
2017-09-26 00:00:00+02:00,4008.949951,4012.500000,3911.449951,3916.979980,0,^JN0U.JO,3885.090088,0
2017-09-27 00:00:00+02:00,3915.199951,3926.850098,3877.590088,3885.090088,0,^JN0U.JO,3879.229980,0
2017-09-28 00:00:00+02:00,3856.570068,3896.889893,3839.110107,3879.229980,0,^JN0U.JO,3930.870117,1
2017-09-29 00:00:00+02:00,3893.760010,3952.479980,3884.939941,3930.870117,0,^JN0U.JO,3907.280029,0
2017-10-02 00:00:00+02:00,3914.199951,3938.600098,3907.280029,3907.280029,0,^JN0U.JO,3939.860107,1
...,...,...,...,...,...,...,...,...
2020-01-20 00:00:00+02:00,3923.830078,3933.620117,3889.239990,3899.600098,0,^JN0U.JO,3848.719971,0
2020-01-21 00:00:00+02:00,3887.169922,3889.679932,3809.669922,3848.719971,0,^JN0U.JO,3882.530029,1
2020-01-22 00:00:00+02:00,3860.850098,3888.550049,3848.429932,3882.530029,0,^JN0U.JO,3793.979980,0
2020-01-23 00:00:00+02:00,3881.260010,3881.260010,3789.699951,3793.979980,0,^JN0U.JO,3816.750000,1
2020-01-24 00:00:00+02:00,3803.250000,3853.010010,3803.250000,3816.750000,0,^JN0U.JO,NaN,0

In [180]:
tickerDf1 = tickerDf1.loc["1991-01-01":].copy()

In [181]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
model = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=1)

train = tickerDf1.iloc[:-100]
test = tickerDf1.iloc[-100:]

predictors = ["Close", "Volume", "Open", "High", "Low"]
model.fit(train[predictors], train["Target"])

RandomForestClassifier(min_samples_split=100, random_state=1)

RandomForestClassifier(min_samples_split=100, random_state=1)

In [182]:
from sklearn.metrics import precision_score

preds = model.predict(test[predictors])

In [183]:
import pandas as pd
preds = pd.Series(preds, index=test.index)

In [184]:
precision_score(test["Target"], preds)

0.5849056603773585

In [185]:
combined = pd.concat([test["Target"], preds], axis=1)

In [153]:
#combined.plot()

In [186]:
def predict(train, test, predictors, model):
    model.fit(train[predictors], train["Target"])
    preds = model.predict(test[predictors])
    preds = pd.Series(preds, index=test.index, name="Predictions")
    combined = pd.concat([test["Target"], preds], axis=1)
    return combined

In [188]:
def backtest(data, model, predictors, start=2500, step=250):
    all_predictions = []

    for i in range(start, data.shape[0], step):
        train = data.iloc[0:i].copy()
        test = data.iloc[i:(i+step)].copy()
        predictions = predict(train, test, predictors, model)
        all_predictions.append(predictions)
    
    return pd.concat(all_predictions)

In [192]:
tickerDf1

,Open,High,Low,Close,Volume,ticker,Tomorrow,Target
Date,,,,,,,,
2017-09-26 00:00:00+02:00,4008.949951,4012.500000,3911.449951,3916.979980,0,^JN0U.JO,3885.090088,0
2017-09-27 00:00:00+02:00,3915.199951,3926.850098,3877.590088,3885.090088,0,^JN0U.JO,3879.229980,0
2017-09-28 00:00:00+02:00,3856.570068,3896.889893,3839.110107,3879.229980,0,^JN0U.JO,3930.870117,1
2017-09-29 00:00:00+02:00,3893.760010,3952.479980,3884.939941,3930.870117,0,^JN0U.JO,3907.280029,0
2017-10-02 00:00:00+02:00,3914.199951,3938.600098,3907.280029,3907.280029,0,^JN0U.JO,3939.860107,1
...,...,...,...,...,...,...,...,...
2020-01-20 00:00:00+02:00,3923.830078,3933.620117,3889.239990,3899.600098,0,^JN0U.JO,3848.719971,0
2020-01-21 00:00:00+02:00,3887.169922,3889.679932,3809.669922,3848.719971,0,^JN0U.JO,3882.530029,1
2020-01-22 00:00:00+02:00,3860.850098,3888.550049,3848.429932,3882.530029,0,^JN0U.JO,3793.979980,0
2020-01-23 00:00:00+02:00,3881.260010,3881.260010,3789.699951,3793.979980,0,^JN0U.JO,3816.750000,1
2020-01-24 00:00:00+02:00,3803.250000,3853.010010,3803.250000,3816.750000,0,^JN0U.JO,NaN,0

In [ ]:
predictions = backtest(tickerDf1, model, new_predictors)

In [ ]:
predictions["Predictions"].value_counts()

1    2771
0    2767
Name: Predictions, dtype: int64

In [196]:
#mean of close price in last two days, last trade of the week, past three months, past 4 years
horizons = [2, 5, 60, 250, 1000]
new_predictors = []

for horizon in horizons:
    rolling_averages = tickerDf1.rolling(horizon).mean()

    ratio_column = f"Close_Ratio_{horizon}"
    tickerDf1[ratio_column] = tickerDf1["Close"] / rolling_averages["Close"]

    trend_column = f"Trend_{horizon}"
    tickerDf1[trend_column] = tickerDf1.shift(1).rolling(horizon).sum()["Target"]

    new_predictors += [ratio_column, trend_column]

C:\Users\GARRE\AppData\Local\Temp\ipykernel_47512\2796134674.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['ticker'], dtype='object')
  rolling_averages = tickerDf1.rolling(horizon).mean()
C:\Users\GARRE\AppData\Local\Temp\ipykernel_47512\2796134674.py:12: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['ticker'], dtype='object')
  tickerDf1[trend_column] = tickerDf1.shift(1).rolling(horizon).sum()["Target"]

In [197]:
precision_score(predictions["Target"], predictions["Predictions"])

0.5597826086956522

In [198]:
predictions["Target"].value_counts() / predictions.shape[0]

1    0.544413
0    0.455587
Name: Target, dtype: float64

In [199]:
tickerDf1 = tickerDf1.dropna()

In [200]:
model = RandomForestClassifier(n_estimators=200, min_samples_split=50, random_state=1)

In [201]:
def predict(train, test, predictors, model):
    model.fit(train[predictors], train["Target"])
    preds = model.predict_proba(test[predictors])[:,1]
    preds[preds>=0.6] = 1
    preds[preds<0.6] = 0
    preds = pd.Series(preds, index=test.index, name="Predictions")
    combined = pd.concat([test["Target"], preds], axis=1)
    return combined

In [202]:
predictions = backtest(tickerDf1, model, new_predictors)

ValueError: No objects to concatenate

In [ ]:
predictions["Predictions"].value_counts()

0.0    3617
1.0     920
Name: Predictions, dtype: int64

In [ ]:
precision_score(predictions["Target"], predictions["Predictions"])

0.5597826086956522